<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}} - {{site.name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo|PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
</head>
<body>
  <header>
    <img src="/images/profil_pic.png" class="profilPic" alt="Guillaume Besson">
    <div class="headings">
      <p class="title"><a href="/">{{site.name}}</a></p>
      <p class="subtitle">{{site.subtitle}}</p>
    </div>
  </header>
  <div class="container row">
    {{content}}
  </div>
  <footer class="row">
    <p class="large-12 columns">Guillaume Besson - 2013</p>
  </footer>
  {{site.analytics}}
</body>
</html>
